---
import '../../../styles/blog.css';
import Head from '../../../components/jp/Head.astro';
import Header from '../../../components/jp/Header.astro';
---

<html lang="ja">
	<Head pageTitle=`年別ご飯ランキング | Home`/>
	<body>
		<Header />
		<header>
			<h1 style="padding-top: 1.5rem;">年別ご飯ランキング</h1>
			<hr class="header-line">
		</header>

		<main>
			<article>
                <ul class="links">
                    <li><i class="fa-solid fa-play"></i><a href="/MyPage/jp/gohan/2023">2023</a></li>
                    <li><i class="fa-solid fa-play"></i><a href="/MyPage/jp/gohan/2024">2024</a></li>
                </ul>
				<h2>概要</h2>
                <p>
                    個人的な食べ物ランキングを食べた年別でベスト15まで上げていきます。
                </p>
                <p>
                    ※このランキングは管理人の個人的な味覚のもと作られています。参考程度にとどめてください。
                </p>
                <p>
                    ※基本的に辛いものが好きです。
                </p>
                <h2>掲載店</h2>
                <iframe src="https://www.google.com/maps/d/embed?mid=1bNop92rJ4drBg-h2OvDCqZ1rvMLUQMo&ehbc=2E312F&noprof=1" 								
                width="600"
                height="400"
                id="frame"
                frameborder="0"
                allowfullscreen
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                **responsive**
                />
			</article>
		</main>
	</body>
	<footer>
    <button id="scrollToTopBtn" aria-label="Scroll to top"><i class="fa-solid fa-chevron-up"></i></button>
        <hr class="footer-line">
		<div class="footer-content"> <p>© 2024 Shawn</p></div>
	</footer>
	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
			const menuToggle = document.querySelector('.ribbon .menu-toggle');
			const menu = document.querySelector('.ribbon .menu');
	
			if (menuToggle && menu) {
			menuToggle.addEventListener('click', () => {
				menu.classList.toggle('active');
			});
			}
		});
		function setupScrollToTop() {
			const scrollToTopBtn = document.getElementById('scrollToTopBtn');

			if (!scrollToTopBtn) return;

			const scrollFunction = () => {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				scrollToTopBtn.classList.add('show');
			} else {
				scrollToTopBtn.classList.remove('show');
			}
			};

			const scrollToTop = () => {
			window.scrollTo({
				top: 0,
				behavior: 'smooth'
			});
			};

			window.addEventListener('scroll', scrollFunction);
			scrollToTopBtn.addEventListener('click', scrollToTop);
		}

		// Run setup on initial load
		setupScrollToTop();

		// Re-run setup on view transitions
		document.addEventListener('astro:after-swap', setupScrollToTop);
	</script>
</html>