body {
	font-family: Hiragino Sans, sans-serif;
	line-height: 1.6;
	color: #333;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

header {
	text-align: left;
}

img {
    margin-right: 1rem; /* Add some space between image and h1 */
    width: 180px;
    height: 225px;
  }

nav a {
	margin: 0 10px;
    font-size: 30px;
	text-decoration: none;
	color: #0066cc;
}

h1 {
    color: #0066cc;
    font-size: 40px;
}
h2, h3 {
	color: #0066cc;
}

main {
	display: flex;
	justify-content: space-between;
}

.left-column {
    width: 70%;
    padding-right: 2%;
}

.right-column {
    width: 30%;
    padding-left: 2%;
}

.line {
    width: 1px;
    background-color: #ccc; /* Change the color to whatever you need */
}

section {
	margin-bottom: 40px;
}

ul {
	padding-left: 20px;
}

#interested-fields ul,
#tidbits ul {
    list-style-type: none;
    padding-left: 0;
}

#interested-fields li,
#tidbits li {
    margin-bottom: 10px;
}

.fields-container {
    display: flex;
    justify-content: space-between;
}

.fundamentals, .applications {
    width: 48%;
    padding: 15px;
    border-radius: 5px;
}

.fundamentals {
    background-color: #e6f2ff; /* Light blue */
}

.applications {
    background-color: #e6ffe6; /* Light green */
}

#interested-fields h3 {
    color: #0066cc; /* Match your other headings */
    margin-bottom: 10px;
}

#interested-fields ul {
    list-style-type: none;
    padding-left: 0;
}

#interested-fields li {
    margin-bottom: 8px;
}

footer {
    padding: 1rem;
    text-align: left;
  }

.footer-content {
    margin: 0 auto; /* Center the content horizontally */
    color: #555; /* Gray text color */
}

.footer-line {
    border-top: 1px solid #ccc; /* Gray line for the footer */
    margin-top: 1rem;
}

@media (max-width: 768px) {
    main {
      flex-direction: column-reverse;
    }
    .left-column,
    .right-column {
      width: 100%;  /* Remove width limitations on mobile screens */
    }
  }

.ribbon {
    background-color: #0066cc;
    color: white;
    padding: 1rem;
    position: relative;
}
.ribbon .blog-title {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    position: absolute; /* Position nav absolutely within the parent */
    left: 50%; /* Move it 50% from the left of the parent */
    transform: translateX(-50%); /* Center it horizontally */
    display: flex;
}

.ribbon .menu-toggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
}
.ribbon .menu {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    justify-content: space-around;
}

.ribbon .menu-line h1 {
    font-size: 22px;
}

.ribbon .menu li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}
.ribbon .menu li a:hover {
    background-color: #555;
}
@media (max-width: 768px) {
    .ribbon .menu-toggle {
        display: block;
    }
    .ribbon .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #0066cc;
    }
    .ribbon .menu.active {
        display: flex;
    }
    .ribbon .menu li {
        margin: 0.5rem 0;
    }
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
    opacity: 1;
    visibility: visible;
  }
  
  #scrollToTopBtn:hover {
    background-color: #555;
  }

  #scrollToTopBtn i {
    line-height: 0;
  }

  .language-select {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    width: fit-content; /* Adjust padding as needed */
    display: float;
    padding: 5px 5px; /* Adjust padding as needed */
    border: 1px solid #fff; /* Optional border */
    background-color: #fff;
    border-radius: 5px; /* Optional rounded corners */
    margin-bottom: 0;
}

.language-select a {
    font-size: 20px;
    color: #0066cc;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.blog-title a{
    text-decoration: none;  /* Remove underline from links */
    color: inherit;  /* Inherit color from parent */
}

.menu-line{
    display: flex;
}