---
const {pageTitle} = Astro.props;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:title" content={pageTitle} />
		<title>{pageTitle}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<style>
		html {
			text-size-adjust: none;
			-webkit-text-size-adjust: none;
			-moz-text-size-adjust: none;
			-ms-text-size-adjust: none;
		}
		</style>
	</head>
</html>