<html lang="ja">
    <header class="ribbon">
        <div class="menu-line">
            <nav class="language-select">日 / <a href={`/MyPage/en`}>En</a></nav>
            <h1 class="blog-title"><a href="/MyPage/jp">Shawnの徒然</a></h1>
            <div class="menu-toggle">☰</div>
        </div>
        <ul class="menu">
            <li><a href="/MyPage/jp">プロフィール</a></li>
            <li><a href="/MyPage/jp/blog/page-1">ブログ</a></li>
            <li><a href="/MyPage/jp/tips">シンガポール生活のTIPS</a></li>
            <li><a href="/MyPage/jp/beancurd">南洋豆花探訪記</a></li>
            <li><a href="/MyPage/jp/gohan">年別ご飯ランキング</a></li>
            <li><a href="/MyPage/jp/rlist">学部リーディングリスト</a></li>
        </ul>
    </header>
</html>