---
import '../../styles/global.css';
import Head from '../../components/jp/Head.astro';
import Header from '../../components/jp/Header_prof.astro';
---

<html lang="jp">
	<Head pageTitle=`プロフィール | Shawn`/>
	<body>
		<Header />
        <header>

			<h1>平島詢也</h1>
			<p>Nanyang Technological University (NTU, シンガポール) 学部４年<br>専攻：コンピュータサイエンス</p>
			<nav>
				<a href="https://x.com/xunH_sghk" target="_blank" style="color: black;"><i class="fab fa-x-twitter"></i></a>
				<a href="https://www.linkedin.com/in/shunya-hirashima-612701204" target="_blank"><i class="fab fa-linkedin"></i></a>
				<a href="https://github.com/Pxun02" target="_blank" style="color: black;"><i class="fab fa-github"></i></a>
			</nav>
		</header>

		<main>
			<div class="left-column">
				<section id="statement">
					<h2>現在の主な活動</h2>
					<ul>
						<li>FYP(卒業研究)に注力しています。</li>
						<li>中国語もぼちぼち勉強しています。</li>
					</ul>
				</section>


				<section id="do-cur">
					<h2>現在のメイン研究分野</h2>
					<ul>
						<li>進化的アルゴリズム</li>
						<li>組合せ最適化</li>
						<li>LLM</li>
					</ul>
				</section>
			
				<section id="research-interest">
					<h2>興味分野</h2>
					<div class="fields-container">
						<div class="fundamentals">
							<h3>基礎</h3>
							<ul>
								<li>AIエージェント</li>
								<li>ゲーム理論</li>
								<li>複雑システム</li>
								<li>進化的計算</li>
							</ul>
						</div>
						<div class="applications">
							<h3>応用</h3>
							<ul>
								<li>社会物理学</li>
								<li>AI for Science</li>
								<li>Human-AI Interaction</li>
							</ul>
						</div>
				</section>
	
				<section id="tidbits">
					<h2>趣味など</h2>
					<ul>
                        <li>よく聞く音楽: C-pop(香港や台湾), J-pop</li>
						<li>趣味: <b>知的好奇心の刺激。</b>読書、街散策、 旅行(華人街中心)、<a href='/MyPage/jp/beancurd'>豆花やローカルフードの食べ歩き</a></li>
                        <li>認知心理学、社会心理学、分析哲学、言語学、語学(広東語、福建語、マレー語)、量子ウォーク</li>
					</ul>
				</section>
			</div>

			<div class="line"></div>

			<div class="right-column">
				<section id="education">
					<h2>学歴</h2>
					<ul>
						<!-- <li>
							<h3>PhD (Mathematical Science)</h3>
							<p>Nanyang Technological University (NTU), シンガポール</p>
							<p>(予定) 2025年8月 -</p>
						</li> -->
						<li>
							<h3>学士 (Computing)</h3>
							<p>Nanyang Technological University (NTU), シンガポール</p>
							<p>専攻：コンピュータサイエンス</p>
							<p>2021年8月 - 現在</p>
						</li>
						<li>
							<h3>交換留学</h3>
							<p>The Chinese University of Hong Kong (CUHK), 香港</p>
							<p>2024年1月 - 2024年5月</p>
						</li>
					</ul>
				</section>
				<section id="experiences">
					<h2>職歴</h2>
					<ul>
                        <li>
							<h3>ミチビク株式会社</h3>
							<p>R&Dエンジニア インターン(日本)</p>
							<p>2023年5月 - 2023年7月</p>
							<p>生成AIの調査やプロンプト調整など</p>
						</li>
						<li>
							<h3>Panasonic R&D Center Singapore</h3>
							<p>R&Dエンジニア インターン(シンガポール）</p>
							<p>2023年8月 - 2023年12月</p>
							<p>DERMSの制御アルゴリズムのテストなど</p>
						</li>
					</ul>
				</section>
			</div>
		</main>
	</body>
	<footer>
		<button id="scrollToTopBtn" aria-label="Scroll to top"><i class="fa-solid fa-chevron-up"></i></button>
		<hr class="footer-line">
		<div class="footer-content"> <p>© 2025 Shawn</p></div>
	</footer>
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const menuToggle = document.querySelector('.ribbon .menu-toggle');
        const menu = document.querySelector('.ribbon .menu');

        if (menuToggle && menu) {
        menuToggle.addEventListener('click', () => {
            menu.classList.toggle('active');
        });
        }
    });
	function setupScrollToTop() {
			const scrollToTopBtn = document.getElementById('scrollToTopBtn');

			if (!scrollToTopBtn) return;

			const scrollFunction = () => {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				scrollToTopBtn.classList.add('show');
			} else {
				scrollToTopBtn.classList.remove('show');
			}
			};

			const scrollToTop = () => {
			window.scrollTo({
				top: 0,
				behavior: 'smooth'
			});
			};

			window.addEventListener('scroll', scrollFunction);
			scrollToTopBtn.addEventListener('click', scrollToTop);
		}

		// Run setup on initial load
		setupScrollToTop();

		// Re-run setup on view transitions
		document.addEventListener('astro:after-swap', setupScrollToTop);
    </script>
</html>