---
import '../../styles/blog.css';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>シンガポール生活のTIPS | Home </title>
	</head>
	<body>
    <header class="ribbon">
      <h1 class="blog-title">Shawnの徒然</h1>
      <div class="menu-toggle">☰</div>
      <ul class="menu">
		<li><a href="/MyPage/jp">プロフィール</a></li>
		<li><a href="/MyPage/jp/blog/page-1">ブログ</a></li>
		<li><a href="/MyPage/jp/tips">シンガポール生活のTIPS</a></li>
		<li><a href="/MyPage/jp/beancurd">南洋豆花探訪記</a></li>
		<li><a href="/MyPage/jp/gohan">年別ご飯ランキング</a></li>
      </ul>
  </header>
		<header>
			<h1 style="padding-top: 1.5rem;">シンガポール生活のTIPS</h1>
			<hr class="header-line">
		</header>

		<main>
			<article>
				<h2>日系スーパーや日本のものが買えるお店</h2>
                <li><b>DON DON DONKI</b>…海外進出版ドンキホーテだが、実態は価格帯低めの日系スーパーである。要所要所に店舗があり、お惣菜なども充実している。賞味期限が近いものは大胆にセールをすることも。</li>
				<li><b>明治屋</b>…高価格帯スーパー。ものによってはお手頃なものもある。Great WorldとMillenia Walkに店舗がある。</li>
				<li><b>伊勢丹</b>…デパート・高価格帯スーパー。Orchardの店舗の食料品を取り扱っており、他NEX(Serangoon)とTampinesの店舗はデパートのみ。</li>
				<li><b>いろはマート</b>…Plaza Singapuraにある日本の食料品店。ここでしか手に入らないものや新鮮な野菜が買えるが、値段は高めか。</li>
				<li><b>J-Mart</b>…Buona Vistaとi12-Katongにある日本の食料品店。品揃えがニッチ。</li>
				<li><b>ダイソー</b>…２ドル強均一のようなお店となっている。しかし安いので、料理や掃除用品を買うならおすすめ。</li>
				<li><b>Welcia</b>…日系ドラッグストア。品揃えはかなり良く、値段も安い。</li>
				<li><b>ユニクロ</b>…服。</li>
				<li><b>無印</b>…服を買うもよし、飲料やレンジ調理キット、お菓子を買うもよし、食器を買うもよし。賞味期限が近いと大胆にセールをする。店舗数はそこまで多くない。Plaza Singapuraの店舗はかなり大きく、品揃えも個性的。</li>
				<li><b>Lazada/RedMart</b>…当地のオンライン通販。安く手に入るものも多い。</li>
				<li><b>CS Fresh</b>…おしゃれ系モールに点在するローカル中価格帯スーパー。輸入品も取り扱っているため、日本のものももちろんあるが、コンスタントに在庫償却でとんでもないセールをしている。</li>
				<li><b>FairPrice Finest/Extra</b>…大手ローカルスーパー。輸入品を取り扱っている。</li>
				<li><b>BHG/Takashimaya</b>…日本の家電や食器が多く取り扱われている。</li>
				<li><b>ニトリ</b>…日本の家具や食器を取り扱っている。</li>
				<li><b>Hands</b>…文具や旅行用品など。</li>
				<li><b>五穀七福/Pullman Bakery/DONQ/Johan/Asanoya</b>…日系パン屋さんチェーン。とても美味しい。なお、個人経営の日系パン屋さんも多数存在する。</li>
				<li><b>Four Leaves</b>…ローカルパン屋さんではあるが、山崎が協力しているため、日本のタイプのパンが食べれる（蒸しパンなど）。</li>

				<h2>交通について</h2>
				<ul>
					<li>MRT・LRT・バスは次の条件を満たすと、１回のtravelとみなされ、合計距離で運賃が計算される。
					<ul>
						<li>最初と最後の乗車時刻の差が2時間以内。</li>
						<li>乗り換えは最大５回まで。</li>
						<li>バス->電車、バス->バスの乗り換えは45分以内。</li>
						<li>電車->電車について、違う駅間を15分以内に乗り換える。</li>
						<li>バス->バスの乗り換えにおいて、違う番号のバスに乗り換える。</li>
						<li>同じ駅で改札の出入りをしない。</li>
					</ul>
					</li>
				</ul>
				<ul>
					<li>MRT/LRTについて、</li>
					<ul>
						<li>対面乗り換えができる駅</li>
						<ul>
							<li>Jurong East (EWL - NSL)</li>
							<li>Raffles Place (EWL - NSL)</li>
							<li>City Hall (EWL - NSL)</li>
						</ul>
						<li>乗り換え時に一度改札を出る必要がある駅（運賃は継続計算）</li>
						<ul>
							<li>Newton (NSL - DTL)</li>
							<li>Tampines (EWL - DTL)</li>
							<li>Bukit Panjang (DTL - BPLRT)</li>
						</ul>
						<li>歩いて15分以内に乗り換えのできる駅 (参考: <a href="https://www.youtube.com/@transitevolution">https://www.youtube.com/@transitevolution</a>)</li>
						<ul>
							<li>常用できる区間</li>
							<ul>
								<li>Bras Basah (CCL) - Bencoolen (DTL) (SMU地下直結)</li>
								<li>City Hall (EWL, NSL) - Esplanade (CCL) (地下街)</li>
								<li>Rochor (DTL) - Jalan Besar (DTL) (DTLの交差地点)</li>
								<li>Dhoby Ghaut (NSL, CCL, NEL) - Bencoolen (DTL)</li>
								<li>Downtown (DTL) - Shenton Way (TEL)</li>
								<li>Telok Ayer (DTL) - Shenton Way (TEL)</li>
								<li>Telok Ayer (DTL) - Maxwell (TEL)</li>
								<li>Telok Ayer (DTL) - Raffles Place (EWL, NSL)</li>
								<li>Chinatown (DTL, NEL) - Maxwell (TEL)</li>
								<li>Tanjong Pagar (EWL) - Maxwell (TEL)</li>
								<li>Raffles Place (EWL, NSL) - Downtown (DTL)</li>
								<li>Marina Bay (NSL, CCL, TEL) - Downtown (DTL)</li>
							</ul>
							<li>少し厳しい区間</li>
							<ul>
								<li>Bugis (EWL, DTL) - Jalan Besar (DTL) (DTLの交差地点)</li>
								<li>Rochor (DTL) - Bencoolen (DTL) (DTLの交差地点)</li>
								<li>Tanjong Pagar (EWL) - Telok Ayer (DTL)</li>
								<li>Tanjong Pagar (EWL) - Shenton Way (TEL)</li>
								<li>Raffles Place (EWL) - Shenton Way (TEL)</li>
								<li>Bugis (EWL, DTL) - Esplanade (CCL)</li>
								<li>Clarke Quay (NEL) - Fort Canning (DTL)</li>
								<li>Bugis (EWL, DTL) - Bras Basah (CCL)</li>
								<li>City Hall (EWL, NSL) - Bras Basah (CCL)</li>
								<li>Raffles Place (EWL, NSL) - Clarke Quay (NEL)</li>
								<li>Boon Keng (NEL) - Bendemeer (DTL)</li>
								<li>Tanjong Rhu (TEL) - Stadium (CCL)</li>
							</ul>
							<li>地下または建物内で相互移動ができる区間</li>
							<ul>
								<li>Bras Basah (CCL) - Bencoolen (DTL)</li>
								<li>Promenade (DTL, CCL) - Esplanade (CCL) - Bayfront (DTL, CCL) - Raffles Place (EWL, NSL) - City Hall (EWL, NSL)</li>
							</ul>
						</ul>
					</ul>
				</ul>
				<li>車移動はGrab・Gojekなどの配車アプリを使うのが吉。$20 ~ 40ほど。</li>
				<li>タクシーはComfortDelGroなど。</li>

				<h2>日本食でおすすめのお店（低〜中価格帯）</h2>
                <li>すき家</li>
				<li>サイゼリヤ</li>
				<li>焼肉ライク</li>
				<li>スシロー</li>
				<li>やよい軒</li>
				<li>モスバーガー</li>
				<li>てんや</li>
				<li>てんぷらまきの</li>
				<li>天丼琥珀</li>
				<li>歌志軒（まぜそば）</li>
				<li>麺屋こころ（まぜそば）</li>
				<li>月見ハンバーグ</li>
				<li>ペッパーランチ</li>
				<li>ミスタードーナツ</li>
				<li>シャトレーゼ</li>
				<li>八天堂 (クリームパンとプリンが美味しい)</li>
				<li>かつ庵 (カツ丼)</li>
				<li>令和蕎麦</li>
				<li>ヘルシー蕎麦IKI</li>
				<li>新橋そば</li>
				<li>風麺 (ごぼ天うどん)</li>
				<li>一風堂</li>
				<li>博多一幸舎</li>
				<li>Coco壱番屋</li>
				<li>つるこしうどん</li>
				<li>Maruhachi (コーヒーショップにあるリーズナブルな日本食屋さん。親子丼やカツ丼、カレーが食べられる。)</li>
				<li>Brothers Ramen (ローカルの兄弟のラーメン屋さん。二郎系も家系もチキンベースのラーメンもいろいろ食べられ、どれもとても美味しい。)</li>
				<li>Otoko Ramen (期間限定メニューがよく話題に。)</li>
				<li>ENISHI (担々麺、ラーメン)</li>
				<li>KAMOSHITA (居酒屋)</li>
				<li>もりなが (居酒屋)</li>
				<li>ばってんよかとお (福岡の料理メインの居酒屋)</li>

				<h2>友達との集まりでおすすめのお店</h2>
				<h3>カフェ系</h3>
				<li>PS. Cafe</li>
				<li>Hoshino Coffee</li>
				<li>Muji Cafe</li>
				<li>Alchemist</li>
				<li>辻利</li>
				<li>抹茶館</li>
				<li>Nassim Hill Bistro Bar (Tanglinにある雰囲気抜群のカフェ。)</li>

				<h3>鍋・焼肉系</h3>
				<li>しゃぶ菜</li>
				<li>牛角</li>
				<li>和民</li>
				<li>塚田農場</li>
				<li>海底捞 (火鍋)</li>
				<li>Beauty in The Pot (火鍋)</li>
				<li>Mookata (タイ式の鍋, お店はいろいろ)</li>

				<h3>中華・飲茶・中国東北料理</h3>
				<li>Swee Choon (点心屋さん。リーズナブル。)</li>
				<li>Tim Ho Wan</li>
				<li>Crystal Jade</li>
				<li>Hand in Hand (日本人に人気な中国料理屋さん。小籠包や餃子が美味しい。)</li>
				<li>京華小吃 (日本人に人気な中国料理屋さん。)</li>
				<li>Red Star (HDB内のワゴン点心屋さん。)</li>
				<li>东北人家 (串焼きなどの東北料理がリーズナブルに食べられる。)</li>

				<h3>ホーカーセンター</h3>
				<li>Tiong Bahru Market (お店も席も多く、美味しいストールがたくさん。)</li>
				<li>Newton Food Centre (サテーとビールを提供しているお店が多い)</li>
				<li>Lau Pa Sat (私営のホーカーセンター。道路一面にサテーを扱うお店が並ぶのが圧巻。)</li>

				<h2>その他おすすめの飲食店</h2>
                <li>A Hot Hideout (麻辣屋さん。NTU内含め島内に３箇所存在。)</li>
				<li>ホーカーセンターやコーヒーショップにある"拉面小笼包"系のお店 (基本どこでも小籠包や水餃子、麺がすごく美味しい。冷凍餃子を販売しているところも。)</li>
				<li>Alexandra Food Centre (売られているアボカドジュースが美味しく、前述の小籠包系のストールもある。また、牛肉河粉という料理が非常に美味。)</li>
				<li>Maxwell Food Centre (最も有名なホーカーセンター。ここのFuzhou Oyster Cake (牡蠣の入ったパンケーキみたいなもの)は非常に美味しい。)</li>
				<li>Chinatown Complex (巨大なホーカーセンター。前述の小籠包系のストールもある。)</li>
				<li>People's Park Food Centre (日日红というストールの麻辣香锅は日本人にとても人気。)</li>
				<li>La Way (OrchardとWest Coastにひっそりと構えられている麻辣香锅屋さん。日本人にとても人気。)</li>
				<li>Song Fa Bak Kut Teh (チェーン肉骨茶屋さん。肉骨茶を飲み終えるたびにおかわりを入れてくれる。お店はとても綺麗。)</li>
				<li>Konditori Artisan Bakes & Pastries (Sultanモスク近くにあるパン屋さん。どれもとても美味しい。)</li>
				<li>Tipo Pasta Bar (比較的安価に美味しいパスタを食べたいなら。)</li>
				<li>Luka (日本人オーナーによるイタリアンレストラン。)</li>
				<li>Abundance (Redhill HDB下の台湾料理屋さん。)</li>
				<li>Lixin Teochew Fish Ball Noodles (OrchardのIONなどにあるFish Ball Noodle屋さん。)</li>
				<li>Ah Chew Desserts (中華系のデザート屋さん。雰囲気がとても良い。)</li>
				<li>味香園 (中華系のデザート屋さん。)</li>
				<li>金玉滿堂甜品 (中華系のデザート屋さん。)</li>
				<li>一家人 (中華系のデザート屋さん。)</li>
				<li>５０年 (ローカルパン屋さん。エッグタルトがとても美味しく、日本人にとても人気。)</li>
				<li>Yakun Kaya Toast (チェーン店とはいえ、カヤトーストの味はとても美味しい。)</li>
				<li>Wu Pao Chun (台湾系パン屋さん。お茶とパンの店内飲食が楽しめる。)</li>
				<li>Munchi Pancake (パンケーキのようなミンジャンクエが楽しめるお店。ホーカーセンターやモール内に点在。)</li>
				<li>Puffs And Peaks Bakery (Tampinesにある、個人経営の美味しいドーナツ屋さん。)</li>

				<h2>休日のおでかけ案</h2>
				
                <li>セントーサ島 (USSや水族館はもちろん、セントーサコーブやビーチ、シロソ砦などでゆっくり過ごすのも⚪︎。)</li>
				<li>動物園やバードパラダイス</li>
				<li>Mount Faberなどのトレイル</li>
				<li>Vivo CityやSuntec City、Plaza Singapuraなどのモールで買い物</li>
				<li>Joo Chiat RdやKatongで散歩、時々Prawn Mee</li>
				<li>Bukit Timahでのんびり、時々美味しいパン</li>
				<li>Chinatownで食べ歩き</li>
				<li>Bras Basah Complexで書店巡り</li>
				<li>とりあえずBugis</li>
				<li>二階建てバスでのんびり島内散策</li>
				<li>歴史の勉強 (国立博物館や旧フォード工場など)</li>
				<li>近い国外、Johor BahruやBatam島、Bintan島へ</li>

				<h2>NTU内のおすすめ勉強場所</h2>
                <li><b>N3.2</b>…MAE棟。ファミレスみたいな席。室内でエアコンが効いており、コンセント完備。</li>
				<li><b>SS B3階の通路</b>…コンセント完備で席数も多く、ファンもよく効いている。</li>
				<li><b>LWN Library 5階</b>…席数が多いので座れるところがあるはず。</li>
				<li><b>Arc/Hive/Gaia</b>…ファンもあってか室外の席もそれなりに暑くない。</li>
				<li><b>Library Outpost @Hive</b>…意外と混まない。席はVIP級。</li>
				<li><b>NIE Library</b>…とても穴場。図書館の外にも椅子が多いので座れるはず。</li>
				<li><b>SPMS, SBS, Experimental Buildingの椅子</b>…クーラーガンガンなので暑がりにはおすすめ。</li>
				<li><b>Quad Cafe, Pioneer Canteen</b>…混まない時間帯は結構快適。</li>
				<li><b>空き教室</b>…言わずもがな。</li>

				<h2>NTU内ショートカット</h2>
                <li>AuditoriumとQuad Cafeの横 - 階段を登って橋を渡ってExperimental Building</li>
				<li>Hall 2 - Fullerton Healthの裏 - S4 (Humanity棟)</li>
				<li>Gaia - SPMS - SS</li>
				<li>Hive - S3 - S3.1/S3.2 - S4</li>
				<li>Canteen 1 - Tan Lark Sye Walk - CoHASS</li>
				<li>Yunnan Garden - 外への連結橋 - NTI Food Court</li>
			</article>
		</main>
	</body>
	<footer>
    <button id="scrollToTopBtn" aria-label="Scroll to top"><i class="fa-solid fa-chevron-up"></i></button>
        <hr class="footer-line">
		<div class="footer-content"> <p>© 2024 Shawn</p></div>
	</footer>
	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
			const menuToggle = document.querySelector('.ribbon .menu-toggle');
			const menu = document.querySelector('.ribbon .menu');
	
			if (menuToggle && menu) {
			menuToggle.addEventListener('click', () => {
				menu.classList.toggle('active');
			});
			}
		});
		function setupScrollToTop() {
			const scrollToTopBtn = document.getElementById('scrollToTopBtn');

			if (!scrollToTopBtn) return;

			const scrollFunction = () => {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				scrollToTopBtn.classList.add('show');
			} else {
				scrollToTopBtn.classList.remove('show');
			}
			};

			const scrollToTop = () => {
			window.scrollTo({
				top: 0,
				behavior: 'smooth'
			});
			};

			window.addEventListener('scroll', scrollFunction);
			scrollToTopBtn.addEventListener('click', scrollToTop);
		}

		// Run setup on initial load
		setupScrollToTop();

		// Re-run setup on view transitions
		document.addEventListener('astro:after-swap', setupScrollToTop);
	</script>
</html>