<html lang="en">
    <header class="ribbon">
        <div class="menu-line">
            <nav class="language-select"><a href={`/MyPage/jp`}>日</a> / En</nav>
            <h1 class="blog-title"><a href="/MyPage/jp">Shawn's Page</a></h1>
            <div class="menu-toggle">☰</div>
        </div>
    </header>
</html>